body{
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 255);
}
#app{
  height: 100vh;

}
.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  pointer-events: none;
  cursor: auto;
  visibility: hidden;
  width: 120px;
  background-color: rgb(248, 248, 248);
  color: #4e4e4e;
  text-align: center;
  border: solid #4e4e4e;
  border-radius: 6px;
  padding: 3px 0;
  position: absolute;
  transform: translate( 50%,-70%);
  z-index: 1;
}

.tooltip .tooltiptext::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 10%;
  border-width: 8px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
  transform: translateX(-50%);
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
